.containercarousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contentcarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
p{
    text-align: justify;
}
.containercarousel img{
    width: 200px;
    height: 200px;
}
 /* Estilos para PCs */
 @media (min-width: 768px) {
    .containercarousel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

 }