@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  margin: 0;
}
body {
    background: linear-gradient(0deg, rgba(136,8,91,1) 9%, rgba(221,102,10,1) 100%);
}
main{
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/*cabeçalho*/
header {
    text-align: center;
    font-size: 10px;
}

.letterorange {
    color: #DD660A;
}

/*Main submission e listener*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner {
    width: 310px;
    height: 110px;
    background-color: #88085B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Main Calendar*/
.calendarcontainer {
   /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;

}

.datacontainer {
    display: flex;
    justify-content: space-evenly;
    width: 312px;
    height: 110px;
    align-items: center;


}

.datacontainer div {
    position: relative;
    text-align: center;
    line-height: 0;
    background-color: #EF9A36;
    width: 64px;
    height: 64px;
}

.datacontainer div:hover {
    position: relative;
    transition: 0.5s ease-out;
    background-color: #DD660A;
}

.datacontainer div h1 {
    font-size: 1.2em;
    color: white;
}

.datacontainer div h2 {
    font-size: 1em;
    font-weight: 400;

}

#d20 {
    background-color: #EF9A36;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#d21 {
    background-color: #EF9A36;
    width: 300px;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#d22 {
    background-color: #EF9A36;
    width: 300px;
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#d20 .dark,
#d21 .dark,
#d22 .dark {
    width: 300px;
    background-color: #DD660A;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

/*Botões*/
#participante,
#ouvinte,
#programacao {
    background-color: #EF9A36;
    border-style: none;
    width: fit-content;
    padding: 1.3vh;
    border-radius: 7px;
}
/*ABOUT*/
aside{
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}
aside img{
  width: 5em;
}

/*home*/

.subtitle-home{
  text-align: center;
  font-family: "Inter";
  font-weight: 100;
  font-size: 36px;
  color: #ddd;
  margin-top: 6%
}

.subtitle h1{
  padding-top: 1%;
  font-size: 5vh;
  color: #ddd;
  text-align: center;
}
.subtitle img{
  width: 300px;
}



/*Contador*/

.contagem-regress {
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: rgb(136,8,91);
  background: linear-gradient(100deg, rgba(136,8,91,1) 9%, rgba(221,102,10,1) 100%); 
  border-radius: 50px;
  width: 700px;
  border-top: 3px solid #ddd;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  padding-bottom: 2%;
}

.contagem-regress h3 {
  text-align: center;
    font-size: 30px;
}

.countdown-container {
    display: flex;
    justify-content: space-evenly;
}

.countdown-item {

    font-size: 36px;
    text-align: center;
    margin-top: 1%;
    color: #ddd;
}

.countdown-label {
    font-size: 20px;
    margin-top: 5px;
}
/*slide home*/
.slidehome{
  display: flex;
  flex-direction: column;
  align-items: center;
  

  
}
.imagens{
  display: flex;
  justify-content: space-evenly;
  background: #ddd;
  border-radius: 16px;
  border: 3px solid rgba(255, 255, 255, 0.72);
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 120px 17px rgba(3,3,3,0.53);
  -moz-box-shadow: 0px 20px 120px 17px rgba(3,3,3,0.53);  
  box-shadow: 0px 20px 120px 17px rgba(3,3,3,0.53);
  width: 1000px;
  height: 412px;
}
.slidehome img{
  align-self: center;
  width: 300px;
  height: 300px;
}
/*Aside Home*/
.home{
  color: #ddd;
}
.subtitle-direita h1{
  text-align: center;
}
.subtitle-direita iframe{
  margin-top: 2%;
}
.subtitle-esquerda{
  text-align: center;
  padding: 3% 3% 0% 2%;
}
.subtitle-esquerda img{
  margin-top: 20px;
    width: 600PX;
    height: 450px;
}
/* Estilos para Dispositivos Móveis */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #88085B;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .nav-buttons {
    display: flex;
  }
  
  .nav-button {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }

  .desktop-nav {
    display: none;
  }

      
    /* Estilos para o menu */



    .mobile-nav {
        display: none;
      }
      
      .nav-buttons {
        display: flex;
        justify-content: center;

    }
      
      .nav-button {
        margin-right: 10px;
        text-decoration: none;
        color: #fff;
      }
      
      .nav-button img {
        width: 24px;
        height: auto;
      }
      
      .menu-list {
        display: none;
        background-color: #72074d;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
      }
      
      .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;
      }
      
      .menu-list {
        margin-bottom: 5px;
      }
      
      .menu-list a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 5px 10px;
        border-radius: 3px;
        transition: background-color 0.3s ease;
      }
      
      .menu-list a:hover {
        background-color: #ddd;
      }
/*Footer para PC*/
footer{
  margin: 0;
  margin-top: 3%;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}
footer h1{
  color: #ddd;
  font-size: 16px;
  text-align: center;
}
footer p{
  color: #ddd;
}
.container-footer{
  display: flex;
  justify-content: space-evenly;
  
}
footer .social-media{
  display: flex;
  flex-direction: column;
  align-items:end;
  width: 250px;
}
footer .social-media img{
  margin-right: 10px;
  width: 20px;
}
footer .org{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
footer .org img{
  width: 100px;
}
footer .apoio{
  width: 500px;
}
      
      /* Estilos para dispositivos menores */
      @media screen and (max-width: 768px) {
        .mobile-nav {
          display: block;
        }
        
        .nav-button {
          margin-right: 0;
        }
      }
  

  /* Estilos para PCs */
  @media (min-width: 768px) {
   main{
    margin-right: 25em;
    margin-left: 25em ;
   }
    /*main calendar*/
   .calendarcontainer{
    display: flex;
    width: 150vh;
   }
   .datacontainer{
    display: flex;
    justify-content: space-around;
    width: 130vh;
   }
   .datacontainer div:hover {
    position: relative;
    transition: 0.5s ease-out;
    background-color: #EF9A36;
}
   .container720{
    display: flex;
    width: 120vh;
    justify-content: space-between;
    
   }
   #d20,#d21,#d22{
    display: block;
   }
   #d22{
    display: flex;
   }
    .mobile-nav {
      display: none; 
    }
  
    .content {
      padding-top: 50px; 
    }

    header {
      padding: 10px;
      margin-top: 10ch;
  }
  .banner {
   padding: 40px;
}
#participante,
#ouvinte,
#programacao {
    background-color: #EF9A36;
    border-style: none;
    width: fit-content;
    font-size: 17px;
    padding: 3vh;
    border-radius: 7px;
    margin-top: 5%;
}
article p{
  font-size: 17px;
}
aside{
  display: flex;
  justify-content: space-around;
}
aside img{
  width: 200px;
}

  
    nav.desktop-nav { 
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.5px);
      -webkit-backdrop-filter: blur(8.5px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.72);
      display: flex;
      justify-content: space-between;
      padding: 10px;
      z-index: 999; 
    }
  
    .desktop-nav .nav-logo { 
      margin-left: 20px;
    }

    .desktop-nav .nav-links {
      display: flex;
      align-items: center;
      margin-right: 20px;

    }
  
    .desktop-nav .nav-link {
      text-decoration: none;
      padding: 5px 10px;
      color: #fff;
      margin-left: 10px;
    }}