@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
}
body {
  background: #fafafa;
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
 
}

main {
  font-family: "Montserrat", sans-serif;
  
}

/*cabeçalho*/
header {
  text-align: center;
  font-size: 10px;
}

.letterorange {
  color: #DD660A;
}
/*Calendario*/

.calendar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}
.cabecalhocalendar{
  display: flex;
  text-align: center;
  align-self: center;
  
}
.dia{
  width: max-content;
  border-top: #88085B solid ;
  border-bottom: #88085B solid ;
  border-right: #88085B solid ;
}
.dia:hover{
  background-color: #EF9A36;
}
.corpocalendar{
  display: flex;
  color: #fafafa;
  

} 
.corpocalendar div{
  border-radius: 16px;
  width: 250px;
  height: 150px;
  align-content: center;
  text-align: center;
}
.corpocalendar .orange{
  margin: 4%;
  background-color: #ae3237;
  border:#88085B solid 0.4px;
  
}
.corpocalendar .purple{
  
  background-color: #88085B;
  border: #DD660A solid 0.4px;
 

} 
.corpocalendar .lunch{
  
  background-color: #dd660a;
  color: #fafafa;
  border: #000000 solid 0.4px;
}
#d20, #d21, #d22{
 margin-left: 20px;
}
/*Main submission e listener*/

article{
  display: flex;
  align-items: center;
}


.botaoinscdown {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.botaoinscdown a:last-child {
  margin-left: 20px;
}

.banner li{
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Hackatec*/
.hackatec{
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*ABOUT*/
.color{
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(136, 8, 91, 1) 9%, rgba(221, 102, 10, 1) 100%);
  color: #fff;
  border-radius: 28px;
  padding-bottom: 2%;
  
}
.color h3{
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
  padding-top: 5%;
}
.color hr{
  border: solid 1px #fff;
}
.patrocinadores, .apoio, .instituicoes{
  text-align: center;
}
.color img{
  width: 150px;
  margin: 2%;
  height: auto;
}


/*home*/

.subtitle-home {
  text-align: center;
  font-family: "Inter";
  font-weight: 100;
  font-size: 36px;
  color: #fff;
  margin-top: 6%
}

.subtitle h1 {
  padding-top: 1%;
  font-size: 2.5em;
  color: #fff;
  text-align: center;
}

.subtitle img {
  width: 300px;

}



/*Contador*/
.articlehome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contagem-regress {
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: linear-gradient(100deg, rgba(136, 8, 91, 1) 6%, rgba(221, 102, 10, 1) 100%);
  border-radius: 50px;
  width: 700px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  padding-bottom: 2%;
}

.contagem-regress h3 {
  text-align: center;
  font-size: 30px;
}

.countdown-container {
  display: flex;
  justify-content: space-evenly;
}

.countdown-item {

  font-size: 36px;
  text-align: center;
  margin-top: 1%;
  color: #fff;
}

.countdown-label {
  font-size: 20px;
  margin-top: 5px;
}

/*slide home*/
.slidehome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;



}

.imagens {
  display: flex;
  justify-content: space-evenly;
  background: #fafafa;
  border-radius: 16px;
  border: 3px solid rgba(255, 255, 255, 0.72);
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 120px 17px rgba(3, 3, 3, 0.53);
  -moz-box-shadow: 0px 20px 120px 17px rgba(3, 3, 3, 0.53);
  box-shadow: 0px 20px 120px 17px rgba(3, 3, 3, 0.53);
  width: 1000px;
  height: 412px;
}

.slidehome img {
  align-self: center;
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

/*Aside Home*/
.home {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #fff;
  text-align: center;
}

.subtitle-direita iframe {
  border-radius: 15px;
  width: 500px;
  height: 450px;
  box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
}

.subtitle-direita p {
  text-align: justify;
}

.subtitle-esquerda {
  align-content: center;
}

.subtitle-esquerda img {
  margin-top: 50px;
  width: 500px;
  height: 450px;
  border-radius: 15px;
  box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
  -moz-box-shadow: -2px 15px 33px -10px rgba(0, 0, 0, 0.88);
}

/* Estilos para Dispositivos Móveis */
.mobile-nav {
  position: fixed;
  border-top: 1px solid #DD660A;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #88085B;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-buttons {
  display: flex;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-button:hover {
  transition-property: color, background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color:#88085b;
}

.nav-button:focus {
  transition-property: color, background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #88085b;
}

.desktop-nav {
  display: none;
}


/* Estilos para o menu */



.mobile-nav {
  display: none;
}

.nav-buttons {
  display: flex;
  justify-content: center;

}

.nav-button {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.nav-button img {
  width: 24px;
  height: auto;
}

.menu-list {
  display: none;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu-list {
  margin-bottom: 5px;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}


/*Footer para PC*/
footer {
  border-top: 1px solid rgb(255, 255, 255);
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #72074d;
}

footer section {
  text-align: center;
}

footer h6 {
  color: #fff;
  font-size: 16px;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;

}

footer .logoFooter {
  padding-top: 1%;
  padding-bottom: 1%;
  align-content: center;
}

footer .social-media {
  padding-top: 1%;
  align-content: center;
}

footer .social-media div:last-child {
  display: flex;
  align-self: center;
  flex-direction: row;
}

footer .social-media img {
  margin: 10px;
  width: 20px;
}

footer .org {
  padding-top: 1%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .org img:not(:last-child) {
  width: 100px;
}



.articlesub {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 10%;
}
.articlesub h2 {
  color: #000000;
  font-size: 25px;
}

.articlesub li {
  color: #000000;
  font-size: 20px;
}

.aboutsub{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutsub h1{
  font-size: 2.5em;
  font-weight: 700;
  color: #88085b;
  text-align: center;
  margin-bottom: 20%;
}
.aboutsub p{
  font-size: 22px;
  line-height: 2;
  width: 570px;
}
.containersub{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.containersub h2{
  font-size: 2em;
  font-weight: 400;
  color: #88085b;
  text-align: center;
  margin-bottom: 8%;
}
.bottons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10%;
}

.botaodow {
	background:linear-gradient(to bottom, #88085b 5%, #920b63 100%);
	background-color:#88085b;
	border-radius:10px;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:15px 38px;
	text-decoration:none;
}
.botaodow:hover {
	background:linear-gradient(to bottom, #920b63 5%, #88085b 100%);
	background-color:#920b63;
}
.botaodow:active {
	position:relative;
	top:1px;
}

.botaoins {
	background:linear-gradient(to bottom, #dd660a 5%, #d9742b 100%);
	background-color:#dd660a;
	border-radius:10px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:15px 38px;
	text-decoration:none;
  
}
.botaoins:hover {
	background:linear-gradient(to bottom, #d9742b 5%, #dd660a 100%);
	background-color:#d9742b;
}
.botaoins:active {
	position:relative;
	top:1px;
}





/* Estilos para dispositivos menores CELULAR */
@media screen and (max-width: 880px) {
  body{
    background-size: 800px;
    background-repeat: repeat-y;
  }
  .mobile-nav {
    display: block;
  }

  .nav-button {
    margin-right: 0;
  }

  .subtitle-home {
    font-size: 14px;
  }

  .slidehome {

    display: flex;
    flex-wrap: wrap;
  }

  footer {
    margin-bottom: 10px;
  }

  .social-media {
    align-self: start;
  }

  .logoFooter {
    margin: 1%
  }

  .logoFooter img {
    width: 150px;
  }

  .contagem-regress {
    width: 300px;
    margin-bottom: 2%;
  }

  .articlehome {
    position: relative;
    display: flex;
  }

  .countdown-number {
    font-size: 20px;
  }

  .imagens {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: max-content;
  }

  .imagens img {
    width: 150px;
    height: 150px;
  }

  .imagens img:last-child {
    display: none;
  }

  .subtitle-esquerda,
  .subtitle-direita {
    margin-top: 40px;
  }

  .subtitle-esquerda img {
    margin-bottom: 10px;
  }

  .org {
    margin-bottom: 80px;
  }

  /*Calendário*/
  .calendar{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cabecalhocalendar{
    display: flex;
    text-align: center;
  }
  .dia{
    width: max-content;
    border-top: #88085B solid ;
    border-bottom: #88085B solid ;
    border-right: #88085B solid ;
    padding: 10%;
   
  }
  .dia:hover{
    background-color: #EF9A36;
  }
  .corpocalendar{
    display: flex;
    color: #fafafa;
    

  } 
  .corpocalendar div{
    border-radius: 16px;
    padding: 15px;
    width: 300px;
  }
  .corpocalendar .orange{
    margin-top: 4%;
    background-color: #ae3237;
    border:#88085B solid 0.4px;
   
    
  }
  .corpocalendar .purple{
    margin-top: 4%;
    background-color: #88085B;
    border: #DD660A solid 0.4px;
   
  
  } 
  .corpocalendar .lunch{
    margin-top: 4%;
    background-color: #dd660a;
    color: #fafafa;
    border: #000000 solid 0.4px;
  }
  #d21,#d22
  {
    display: none;
  }
 
  /*Participantes*/
  .slide {
    position: relative;
    padding-bottom: 10%;
    z-index: -1;
  }

  .menu-list a:hover {
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: #DD660A;
  }

  .menu-list a:focus {
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: #DD660A;
  }
  /*Submissão de Artigos*/
  .aboutsub p{
    width: 350px;
  }
  .aboutsub h1{
    margin-top: 5%;
  }
  .bottons{
    font-size: 15px;
    margin: 2%;
    margin-top: 5%;
    width: 450px;
  }
  
  .containersub ul li{
  font-size: 14px;
  width: 350px;
  }

  /*Sobre*/
  .color{
    margin-top: 5%;
    
  }
  .color h3{
    font-size: 22px;
  }

  .color img{
    width: 100px;
  }


}

/*Estilos Mobile*/
@media (max-width: 490px) {
  .subtitle-direita iframe {
    width: 300px;
    height: 250px;
    margin-top: 5%;
  }

  .subtitle-esquerda img {
    width: 300px;
    height: 250px;

  }
  .articlesub {
    flex-wrap: wrap;
    margin: 1ch
  
  }
  .articlesub p{
    font-size: 14px;
  }
  .aboutsub h1{
    margin-top: 5%;
    font-size: 28px;
  }
  .containersub h2{
    margin-top: 5%;
    font-size: 20px;
  }

}

/* Estilos para PCs */
@media (min-width: 768px) {


  article p {
    font-size: 17px;
  }

  aside {
    display: flex;
    justify-content: space-around;
  }

  aside img {
    width: 200px;
  }


  nav.desktop-nav {
    position: static;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.72);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
    background-color: #DD660A;
  }

  .desktop-nav .nav-logo {
    margin-left: 20px;
  }

  .desktop-nav .nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;

  }

  .desktop-nav .nav-link {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    margin-left: 10px;
  }

  /*Submissão PC Estilo*/
  .botaoins, .botaodow{
    font-size: 20px;
  }

  /*Calendario*/
  .dia {
    width: 300px; /* Adjust width for smaller screens */
  }
}

